* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  text-align: center;
  margin: 5rem auto;
  width: 90vw;
}
h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
  font-size: 2.441rem;
}

h4 {
  margin-bottom: 0.5rem;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid #94a3b8;
  border-radius: 50%;
  margin: 0 auto;
  border-top-color: #10b981;
  animation: spinner 0.3s linear infinite;
}

.title {
  text-align: center;
}

.title-underline {
  background: #10b981;
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: 1rem;
}

.tours {
  padding: 2rem 0;
  display: grid;
  gap: 2rem;
}

.single-tour {
  background: white;
  border-radius: 1px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  transition: 0.3s ease-in-out all;
  position: relative;
  width: 90%;
}
.single-tour:hover {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.tour-price {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  color: white;
  letter-spacing: 1px;
  background: #10b981;
  border-top-right-radius: 2px;
}

.single-tour .img {
  height: 20rem;
  width: 100%;
  /* display: block; */
  object-fit: cover;
  background-size: cover;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

.tour-info {
  padding: 2rem 1.5rem;
}

.tour-info h5 {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 1.5;
}

.tour-info p {
  margin-bottom: 1.25rem;
  line-height: 1.5;
  color: #94a3b8;
}

.read-more-btn {
  color: #10b981;
  font-weight: 600;
  border: transparent;
  background: white;
  cursor: pointer;
}

.refresh-btn {
  color: #10b981;
  font-weight: 600;
  font-size: large;
  border: transparent;
  background: white;
  cursor: pointer;
  border: 1px solid #10b981;
  border-radius: 1px;
  width: 10rem;
  height: 3rem;
  transition: 0.3s ease-in-out all;
}

.refresh-btn:hover {
  color: white;
  background: #4bc69d;
}

.delete-btn {
  background: white;
  border: 1px solid #10b981;
  color: #10b981;
  border-radius: 1px;
  width: 80%;
  height: 2rem;
  transition: 0.3s ease-in-out all;

  cursor: pointer;
}

.delete-btn:hover {
  background: #10b981;
  color: white;
}

@media screen and (min-width: 768px) {
  .tours {
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }
}
@media screen and (min-width: 992px) {
  .tours {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
